### Ignore submission files
*.pdf
*.zip

## Ignore reading assignment folder
reading/

## Ignore dataset for HW2
2_word_embeddings/intrinsic-test.csv
2_word_embeddings/unlabeled-data.txt

## Ignore dataset for HW3
3_dependency_parsing/data/
